.build/
.DS_Store
.lock
.mirror
.stage
*.log
binary
binary.*
cache
chroot
chroot.packages.install
chroot.packages.live
config
config/binary
config/bootstrap
config/common
config/source
images
simple-cdd
simple-cdd/debian-cd
simple-cdd/profiles/kali.downloads
simple-cdd/tmp
squid.conf